footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 41, 41);
    color: white;
    padding: 3rem 0;
    .container {
        .about-contact {
            display: flex;
            justify-content: center;
            @include breakpoint(tablet) {
                flex-direction: column;
                gap: 2.5rem 0;
            }
            @include breakpoint(mobile) {
                gap: 1.5rem 0;
            }
            span {
                font-size: 18px;
            }
            p {
                max-width: 275px;
                margin-top: 2rem;
                @include breakpoint(tablet) {
                    margin-top: 1rem;
                }
            }
            hr {
                margin: 0.5rem 3rem 0;
                height: 175px;
                @include breakpoint(laptop) {
                    margin: 0.5rem 2rem 0;
                }
                @include breakpoint(tablet) {
                    display: none;
                }
            }
            .links-container {
                margin-top: 2rem;
                display: grid;
                grid-template-columns: auto auto;
                gap: 1rem 2rem;
                @include breakpoint(tablet) {
                    width: 30%;
                    margin-top: 1rem;
                }
                @include breakpoint(mobile) {
                }
                a {
                    font-size: 14px;
                    font-family: 'Roboto', sans-serif;
                    cursor: pointer;
                    color: rgb(146, 146, 146);
                    display: block;
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}
