header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    .container {
        position: relative;
        padding: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .icon-container {
            border: 2px dotted white;
            border-radius: 50%;
            .icon {
                padding: 0.8rem;
                font-size: 2.3rem;
                color: white;
                @include breakpoint(tablet) {
                    font-size: 1.7rem;
                    padding: 0.6rem 0.6rem 0.45rem;
                }
            }
        }
        .links {
            margin-left: 4.5rem;
            @include breakpoint(tablet) {
                margin-left: 2rem;
            }
            @include breakpoint(phablet) {
                margin-left: 0rem;
                display: none;
            }
            .link {
                color: white;
                margin: 0 1rem;
                cursor: pointer;
                padding-bottom: 0.5rem;
                &:hover {
                    border-bottom: 2px solid white;
                }
            }
        }
        button {
            color: white;
            padding: 1rem 1.5rem 1rem 2rem;
            border-radius: 50px;
            border: 2px solid white;
            background-color: transparent;
            font-size: 14px;
            cursor: pointer;
            letter-spacing: 0.5rem;
            transition-duration: 0.3s;
            @include breakpoint(laptop) {
                padding: 0.8rem 1.5rem 0.8rem 2rem;
            }
            @include breakpoint(tablet) {
                font-size: 12px;
                padding: 0.7rem 1rem 0.7rem 1.5rem;
            }
            @include breakpoint(phablet) {
                display: none;
            }
            &:hover {
                background-color: white;
                color: black;
            }
        }
        .burger-icon {
            display: none;
            @include breakpoint(mobile) {
                display: block;
            }
            border: 1px solid white;
            color: white;
            font-size: 1.7rem;
            padding: 0.4rem;
        }
    }
    .mobile-links {
        display: none;
        @include breakpoint(mobile) {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            text-align: right;
            padding-right: 1.4rem;
            color: white;
            width: 45%;
            height: 100vh;
            background-color: rgb(97, 97, 97);
            .close {
                display: block;
                font-weight: 700;
                font-size: 1.2rem;
                margin-right: 0.2rem;
                margin-top: 2rem;
            }
            .mobile-links-container {
                margin-top: 6.5rem;
                padding-right: 0.5rem;
                .mobile-link {
                    display: block;
                    margin-top: 2rem;
                }
            }
            .menu-btn {
                margin-top: 1.7rem;
                display: inline-block;
                color: white;
                border-radius: 50px;
                border: 2px solid white;
                background-color: transparent;
                cursor: pointer;
                letter-spacing: 0.5rem;
                transition-duration: 0.3s;
                font-size: 12px;
                padding: 0.7rem 1rem 0.7rem 1.5rem;
                &:hover {
                    background-color: white;
                    color: black;
                }
            }
        }
    }
}
