html,
body {
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 4rem;
    @include breakpoint(desktop) {
        max-width: 1000px;
    }
    @include breakpoint(laptop) {
        max-width: 800px;
    }
    @include breakpoint(tablet) {
        max-width: 650px;
        padding: 0 2rem;
    }
    @include breakpoint(mobile) {
        max-width: 300px;
        padding: 0;
    }
}

section {
    display: flex;
    width: 100%;
    justify-content: center;
}
