body {
    font-family: $primaryFont;
    color: $primaryColor;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 146px;
    font-weight: 700;
    @include breakpoint(laptop) {
        font-size: 120px;
    }
    @include breakpoint(mobile) {
        font-size: 50px;
    }
}

h2 {
    font-family: 'Playfair Display', serif;
    color: $accent;
    font-size: 60px;
    font-weight: 700;
    @include breakpoint(mobile) {
        font-size: 40px;
    }
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 200;
    @include breakpoint(mobile) {
        font-size: 18px;
    }
}

h4 {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    font-weight: 400;
    color: rgb(95, 95, 95);
    @include breakpoint(mobile) {
        font-size: 15px;
    }
}

p {
    font-family: 'Roboto', sans-serif;
    line-height: 1.32rem;
    font-size: 14px;
    color: rgb(146, 146, 146);
    @include breakpoint(mobile) {
        font-size: 12px;
        line-height: 1.25rem;
    }
}
