section#gallery {
    padding: 5rem 0;
    @include breakpoint(mobile) {
        padding: 3.5rem 0;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        h2 {
        }
        .flower-icon {
            font-size: 2rem;
            margin: 2rem;
        }
        p {
            max-width: 800px;
            @include breakpoint(desktop) {
                max-width: 600px;
            }
            @include breakpoint(mobile) {
                max-width: 270px;
            }
        }
        .image-holder {
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 2rem 4rem;
            margin-top: 5rem;
            @include breakpoint(desktop) {
                margin-top: 4rem;
            }
            @include breakpoint(laptop) {
                margin-top: 3rem;
                gap: 2rem;
            }
            @include breakpoint(mobile) {
                margin-top: 2rem;
                gap: 1rem 0;
                grid-template-columns: auto;
            }
            .image {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img {
                    width: 400px;
                    height: 350px;
                    object-fit: cover;
                    filter: brightness(80%);
                    @include breakpoint(desktop) {
                        width: 300px;
                        height: 250px;
                    }
                    @include breakpoint(laptop) {
                        width: 250px;
                        height: 200px;
                    }
                    @include breakpoint(tablet) {
                        width: 200px;
                        height: 150px;
                    }
                    @include breakpoint(mobile) {
                        width: 300px;
                        height: 250px;
                    }
                }
                span {
                    margin: 1.4rem 0 0.4rem;
                    font-size: 18px;
                    @include breakpoint(mobile) {
                        margin: 0.8rem 0 0.4rem;
                    }
                }
                p {
                }
            }
        }
    }
}
