section#hero {
    height: 100vh;
    position: relative;
    img {
        object-fit: cover;
        object-position: 10% 30%;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        filter: brightness(60%);
        z-index: -1;
        @include breakpoint(tablet) {
            filter: brightness(50%);
            object-position: 50%;
        }
        @include breakpoint(mobile) {
            object-position: 60%;
        }
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
            color: white;
        }
        h3 {
            color: white;
        }
        .cta {
            font-family: 'Roboto', sans-serif;
            margin-top: 2rem;
            padding: 1rem 1.5rem 1rem 1.7rem;
            border-radius: 50px;
            border: none;
            background-color: white;
            font-size: 14px;
            cursor: pointer;
            transition-duration: 0.4s;
            @include breakpoint(laptop) {
                padding: 0.8rem 1.5rem 0.8rem 1.7rem;
            }
            &:hover {
                background-color: $accent;
                color: white;
            }
        }
    }
}
