section#introduction {
    padding: 5rem 0;
    @include breakpoint(mobile) {
        padding: 3.5rem 0;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        .icon-container {
            margin-bottom: 1.5rem;
            display: inline-block;
            border: 3px dotted black;
            border-radius: 50%;
            .icon {
                padding: 1.6rem;
                font-size: 7rem;
                @include breakpoint(mobile) {
                    padding: 1.4rem;
                    font-size: 6rem;
                }
            }
        }
        h2 {
            margin-bottom: 0.7rem;
        }
        h4 {
        }
        .flower {
            font-size: 2rem;
            margin: 2rem 0;
            @include breakpoint(mobile) {
                margin: 1.5rem 0;
            }
        }
        p {
            max-width: 1000px;
            @include breakpoint(desktop) {
                max-width: 800px;
            }
            @include breakpoint(mobile) {
                max-width: 270px;
            }
        }
    }
}
