section#location {
    padding: 5rem 0;
    @include breakpoint(mobile) {
        padding: 3.5rem 0;
    }
    .container {
        color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include breakpoint(mobile) {
            flex-direction: column;
        }
        .text {
            .cutlery-icon {
                font-size: 7rem;
                color: rgb(85, 85, 85);
                @include breakpoint(mobile) {
                    font-size: 6rem;
                }
            }
            span {
                display: block;
            }
            h4 {
                font-size: 18px;
            }
            .title {
                font-family: 'Playfair Display', serif;
                margin: 2rem 0 1.5rem;
                color: $accent;
                font-size: 39px;
                font-weight: 700;
                @include breakpoint(mobile) {
                    margin: 1.5rem 0 1rem;
                }
            }
            font-size: 21px;
            .timings {
                margin: 3rem 0 0.7rem;
                @include breakpoint(laptop) {
                    font-size: 18px;
                }
                @include breakpoint(mobile) {
                    margin: 2.5rem 0 0.5rem;
                }
            }
            .number {
                font-size: 21px;
                @include breakpoint(laptop) {
                    font-size: 18px;
                }
            }
        }
        .map {
            @include breakpoint(tablet) {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 2rem;
            }
            .map-container {
                border: 3px solid $accent;
                width: 500px;
                height: 500px;
                @include breakpoint(laptop) {
                    width: 325px;
                    height: 325px;
                }
                @include breakpoint(tablet) {
                    width: 300px;
                    height: 325px;
                }
            }
        }
    }
}
