section#menu {
    .menu-container {
        width: 100vw;
        padding: 5rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        backdrop-filter: brightness(30%);
        @include breakpoint(mobile) {
            padding: 3.5rem 0;
        }
        .container {
            h4 {
                color: white;
                margin-top: 1.4rem;
                font-size: 17px;
            }
            .menu-list {
                display: grid;
                grid-template-columns: auto auto auto;
                gap: 3rem 4rem;
                margin-top: 4rem;
                @include breakpoint(laptop) {
                    gap: 2rem;
                }
                @include breakpoint(tablet) {
                    margin-top: 3rem;
                    gap: 1.5rem 0;
                    grid-template-columns: auto;
                }
                .menu-item {
                    span {
                        display: block;
                    }
                    .item-name {
                        color: white;
                        font-weight: 700;
                        font-size: 20px;
                    }
                    .item-desc {
                        margin: 2rem 0 1rem;
                        font-size: 16px;
                        color: white;
                        @include breakpoint(mobile) {
                            margin: 1rem 0 0.5rem;
                        }
                    }
                    .item-info {
                        font-size: 16px;
                        color: $accent;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
