section#quote {
    .quote-container {
        width: 100vw;
        backdrop-filter: brightness(50%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        text-align: center;
        padding: 8rem 0;
        @include breakpoint(mobile) {
            padding: 5rem 0;
        }
        .quote-icon {
            font-size: 2rem;
        }
        .quote-text {
            font-family: 'Playfair Display', serif;
            margin: 4rem 0;
            font-size: 2rem;
            max-width: 700px;
            line-height: 2.5rem;
            @include breakpoint(tablet) {
                margin: 2rem 0;
                max-width: 600px;
            }
            @include breakpoint(mobile) {
                font-size: 1rem;
                max-width: 300px;
                margin: 1.5rem 0;
                line-height: 1.4rem;
            }
        }
        .chef-name {
            font-style: italic;
            @include breakpoint(mobile) {
                font-size: 13px;
            }
        }
    }
}
